﻿@import url(https://fonts.googleapis.com/css?family=Arapey);


html {
    position: relative;
    min-height: 100%;
}

 h2 {
        font-family: serif;
        color: maroon;
        text-align: center;
    }

body {
    margin: 0 0 50px; /* bottom = footer height */
    padding-top: 60px;
    padding-bottom: 10px;
    background-image: url("/Images/background.jpg");
}


.carousel-inner {
    margin-bottom: 50px;
    min-height: 200px;
    
}
.carousel-indicators {
    bottom: -10px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #6f0000;
    color: white;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: white;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td {
    padding: 5px;
    vertical-align: top;
}

textarea {
    resize: none;
}

.navbar-default {
    font-family: 'Arapey', serif;
    font-size: 18px;
    background-color: #6f0000;
    border-color: transparent;
    border-radius: 0;
}

.panel-default {
  border-color: maroon;
  margin-bottom: 0;
    border-radius: 0;
}

 .panel-body  {
    word-break:break-all
}

.panel-default > .panel-heading {
    border-radius: 0;
    min-height: 30px;
  color: white;
  background-color:#890000;
  border-color: #890000;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #6f0000;
        background-color: #890000;
    }

    .navbar-default .navbar-text {
        color: white;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: white;
            background-color: #890000;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: white;
        background-color: #890000;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: white;
        background-color: #890000;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #890000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #890000;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: white;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: white;
            text-decoration: none;
            background-color: #6f0000;
        }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #890000;
        outline: 0;
    }
