﻿
<div class="modal fade bs-example-modal-sm" id="AddATagModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a Tag</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div align="center">
                        <label><b>Tag Name</b></label>
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Tag" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="button" value="Add Tag" id="SubmitTag" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>