﻿body {
    padding-top: 265px;
    padding-bottom: 60px;
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -10px;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar {
    margin-bottom: 5px;
    z-index: 250;
}

.navbar-nav > li > a {
    line-height: 23px;
    font-size: 20px;
}

.jumbotron {
    /*background-image: url("/Content/images/cleveland-banner1.jpg");*/
    background-image: url("/Content/images/Cleveland2.jpg");
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding: 25px;
    z-index: -1;
}

.main-nav, main {
    position: relative;
}

.main-nav {
    box-shadow: 0 2px 3px #888888;
}

main {
    background-color: lightgray;
}

.main-nav-scrolled, .jumbotron {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav-body-scrolled {
    margin-top: 65px;
}

.banner {
    border: solid 0 #999999;
    border-radius: 6px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, .15);
}

.jumbotron h1 {
    font-family: 'Passion One', cursive;
    font-size: 80px;
    color: #fff;
    text-align: left;
    /*-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;*/
    margin-bottom: 0;
    text-shadow: -5px 6px 7px rgba(0, 0, 0, 1);
}

.jumbotron p {
    font-family: 'Passion One', cursive;
    font-size: 48px;
    text-align: center;
    /*color: #ffcc00;*/
    color: black;
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;*/
    text-shadow: -2px 2px 3px rgba(255, 255, 255, 1);
    margin-top: 0;
}

.blog-posts {
    border: solid 1px white;
    /*border-radius: 6px;*/
    margin-top: 15px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}

.blog-posts-back {
   
    background-color: transparent;
    
}

.posts {
    margin: 5px;
    border: solid 1px #000;
}

.post-teaser {
    margin: 15px;
    border: solid 1px #0c7cd5;
}

.post-header {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

    .post-header h1 {
        margin-bottom: 2px;
        font-family: 'Passion One', cursive;
        font-size: 28px;
    }

    .post-header p {
        margin-top: 2px;
    }

.post-summary {
    margin: 5px;
    padding: 10px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.post-footer {
    margin: 5px;
    padding: 10px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.sarah {
    padding-right: 20px;
}

.date-string {
    padding-right: 20px;
}

.category-name {
    padding-right: 20px;
}

.post-teaser-btn {
}

.admin {
    margin: 15px;
    padding: 1px;
    /*border: solid 1px #e6e6e6;*/
}

.new-post-entry {
    margin: 0;
    padding: 10px;
    /*border: solid 1px #e6e6e6;*/
}

.enter-content {
    font-size: 16px;
    margin-bottom: 1px;
    text-align: center;
}




.sidebar {
    /*border: solid 1px #000;*/
    padding: 15px;
}


/* TAG CLOUD MOCK-UP */
.tag-cloud {
    border: solid 0.5px lightgrey;
    /*border-radius: 6px;*/
    /*font-family: 'Cinzel', serif;*/
    font-family: 'Passion One', cursive;
    padding: 10px;
    background-color: lightgrey;
    /*box-shadow: 10px 10px 5px #888888;*/
}

.tag-cloud-mock-1 {
    /*font-size: 0.5em;*/
    font-size: 12px;
}

.tag-cloud-mock-2 {
    /*font-size: 0.8em;*/
    font-size: 20px;
}

.tag-cloud-mock-3 {
    /*font-size: 1.3em;*/
    font-size: 26px;
}

.tag-cloud-mock-4 {
    /*font-size: 1.6em;*/
    font-size: 35px;
}

.tag-cloud-mock-5 {
    /*font-size: 1.9em;*/
    font-size: 40px;
}

/*
font-family: 'Oswald', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Passion One', cursive;
*/

.background {
    background-color: lightgray;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #1967be;
    box-shadow: -1px -3px 5px -2px rgba(0,0,0,0.75);
}

.loginText {
    color: white;
    text-align: right;
    padding-right: 5%;
}

#headingModal {
    min-width: 100%;
}

#categoryModal {
    min-width: 100%;
}

#tagModal {
    min-width: 100%;
}

.labels {
    color: #0c7cd5;
    font-family: 'Passion One', cursive;
    font-size: 16px;
    letter-spacing: 2px;
}

#titleModal {
    color: #0c7cd5;
    font-family: 'Passion One', cursive;
    letter-spacing: 2px;
}
#wrapper {
    margin: 10px 10px 10px 10px;
}

.post-teaser-btn {
    margin-left: 20px;
}

.tag-cloud-mock-1, .tag-cloud-mock-2, .tag-cloud-mock-3, 
.tag-cloud-mock-4, .tag-cloud-mock-5 {
    border-radius: 100px;
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
    margin: 2px 2px 2px 2px
}

.tag-cloud-mock-1:hover, .tag-cloud-mock-2:hover, .tag-cloud-mock-3:hover, 
.tag-cloud-mock-4:hover, .tag-cloud-mock-5:hover {
    color: white;
    background-color: #1967be;
}

.tag-cloud-mock-1:focus, .tag-cloud-mock-2:focus, .tag-cloud-mock-3:focus, 
.tag-cloud-mock-4:focus, .tag-cloud-mock-5:focus {
    color: white;
    background-color: #1967be;
    box-shadow: 5px 5px 5px #888888;
}

.pager {
    border-radius: 50px;
}
