﻿body {
   padding-top: 50px;
   padding-bottom: 20px;
   background-image: url("/Images/background.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646 ;
}

@media (max-width:767px) {
    .container { max-width: 400px; }
    body {
        background-image: url("/Images/background.jpg");
    }
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    border-top:1px solid #999;
    color: #AAA;
    background-color: #111;
}
.navbar {
    background-color: #111;
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    border-collapse:separate; 
    border-spacing:10px;
}
