﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dvd Collection", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Add Dvd", "AddDvd", "Home")</li>
            </ul>
            @using (Html.BeginForm("SearchDvd", "Home", FormMethod.Get, new {@class = "navbar-form navbar-right"}))
            {
                <div class="form-group">
                    <input type="text" class="form-control" id="search" name="search">
                </div>
                <button type="submit" class="btn btn-default btn-default">Search</button>
            }
        </div>
    </div>
</div>
    <br/>
    <div class="container body-content">
        @RenderBody()
        <br/>
    </div>
<div>
    <footer>
        <br/>
        <div class="footer-left"><span class="lmname">Dvd Library</span> is developed and supported by <span class="code2name">&#60;code2&#62;</span>, a subsidiary of <span class="sginame">SG Industries</span></div>
        <div class="footer-right"><span class="copyright">Contents Copyright &copy; ST Michael Jordan 2016</span></div>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
