﻿<div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label style="float: left"><b>Category Name</b></label>
                    <input type="text" class="form-control" name="CategoryName" id="CategoryName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="button" value="Submit" id="btnSubmitCategory" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>