﻿
@{
    ViewBag.Title = "Category Management";
}

<h2>Category Management</h2>
<div class="col-lg-6 col-lg-offset-3" style="padding-bottom: 1em">
    <button type="button" id="btnAddCategory" data-toggle="modal" data-target="#AddCategoryModal" class="btn btn-success btn-block">Add a Category</button>
    @Html.Partial("_AddCategoryModal")
</div>
<div>
    <table id="categories" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <b>Category Name</b>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="col-lg-6 col-lg-offset-3" style="padding-bottom: 1em">
    @Html.ActionLink("Return to Admin Page","Index","Admin", null, new {@class="btn btn-info btn-block"})
</div>

@section Scripts
{
    <script>
        var catUri = '/api/Categories/';

        $(document).ready(function() {
            loadCategories();
            $(document).on("click", "#DeleteCategory",function () {
                var btn = $(this);

                $.ajax(catUri + "DELETE/" + btn.data("categoryId"), {
                    method: "DELETE"

                }).success(function (data) {
                    loadCategories();
                });
            });
        });

        function loadCategories() {
            $.getJSON(catUri + "GET/")
                .done(function(data) {

                    $('#categories tbody tr').remove();

                    $.each(data, function (index, category) {
                        if(index!==0)
                            $(createRow(category)).appendTo($('#categories tbody'));
                    });
                });
        };

        function createRow(category) {
            var tr = $("<tr></tr>");
            tr.append($("<td></td>").text(category.CategoryName))
                .append($("<td></td>")
                    .append($("<button class='btnDeleteCategory btn btn-danger btn-xs' id='DeleteCategory'></button>").text("delete").data('categoryId', category.CategoryId)));

            return tr;
        };

    </script>
    @*<script>
        $(document).ready(function () {
            $("#btnDeleteCategory").click(function () {
                var category = {};
                category.CategoryId = data("CategoryId");
                $.ajax({
                    url: '/api/Categories/' + category.CategoryId,
                    type: 'DELETE',
                    dataType: 'json',
                    data: category.CategoryId,
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert("An error occurred!!");
                    }
                });
            });
        });
    </script>*@
    <script src="~/Scripts/app/AddCategory.js"></script>
}