﻿@model MSRM.Capstone.Model.Message

<div class="modal fade bs-example-modal-sm" id="MessageDetailsModal" tableindex="-1" role="dialog" aria-labelledby="MessageDetailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="center" class="modal-title">Message Details</h4>
            </div>
            <div class="modal-body">
                <div id="msgDetails" align="center">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btnUpdateMsg btn btn-danger">Close Message</button>
            </div>
        </div>
    </div>
</div>

