﻿@model SGCorp.Models.Models.TimeEntry
@{
    ViewBag.Title = "SubmitTime";
}
<style>
     h2 {
        font-family: serif;
        color: maroon;
        text-align: center;
    }
     #item {
         margin: auto;
         max-width: 500px;
         border: 2px solid maroon;
         border-radius: 10px;
     }
     tr td:first-child {
         text-align: right;
     }
     tr td:nth-child(2) {
         padding-bottom: 20px;
     }
     .space {
         padding-top: 20px;
     }
</style>
<h2>Submit Time Entry</h2>
<div class="space"></div>
<div id="item">
   
    @using (Html.BeginForm())
    {
        <div class="space"></div>
        <table>
            <tr>
                <td>Employee: </td>
                <td>
                    <select id="EmpId" name="EmpId" class="form-control" data-validation="required" data-validation-error-msg="Select an employee">
                        <option value="" placeholder="Select"></option>
                        @foreach (var employee in ViewBag.Employees)
                        {
                            <option value=@employee.EmpId>@employee.LastName, @employee.FirstName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Today's Date: </td>
                <td>@Html.EditorFor(m => m.TodaysDate, new {htmlAttributes = new {@class="form-control datepicker", data_validation="date required", data_validation_error_msg="Select a date", required="required"}})</td>
            </tr>
            <tr>
                <td>Hours Worked: </td>
                <td>@Html.TextBoxFor(m => m.HourWorked, new {@class = "form-control", data_validation="number required", data_validation_allowing="range[1;16]", data_validation_error_msg="Max 16 hours"})</td>
            </tr>
        </table>
        <button class="btn btn-success center-block">Save</button>
        <div class="space"></div>
    }
</div>
<div style="padding-bottom: 100px"></div>

@section scripts{

    <script>

        $.validate({
            modules: 'html5',
            borderColorOnError: '#FFF',
            addValidClassOnAll: true,
            scrollToTopOnError: true
        });

    </script>

}