﻿@model List<SGCorp.Models.Models.Employee>
@{
    ViewBag.Title = "ViewTimeSheet";
}
<style>
    #content {
        border: 2px solid maroon;
        display: block;
        min-height: 100px;
        min-width: 300px;
        border-radius: 10px;
    }

    .form-group {
        padding-top: 20px;
        padding-left: 20px;
    }
</style>
<h2>Time Sheet</h2>
<div id="content" class="center-block">
    <div class="form-group">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Employee
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                @foreach (var emp in Model)
            {
                    <li>@Html.ActionLink(@emp.LastName + "," + @emp.FirstName, "ViewEmployeeTime", "TimeEntry", new { id = @emp.EmpId }, null)</li>
                }
            </ul>
        </div>
    </div>
</div>

<div style="padding-top: 20px"></div>




