﻿@using SGCorp.Models.Models
@model SGCorp.Models.Models.Employee
@{
    ViewBag.Title = "ViewEmployeeTime";
}

<h2>Employee Time Sheet</h2>
<h3>, </h3>

<div class="panel panel-default">
    <div class="panel-body">

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div>@Model.LastName , @Model.FirstName</div>
        <div> Employee Since: @Model.HireDate.ToLongDateString()</div>
        <div>Total Hours To Date: @Model.TotalHours</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hours</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var entry in Model.Entries.Reverse<TimeEntry>())
                {
                    <tr>
                        <td>@entry.TodaysDate.ToShortDateString()</td>
                        <td>@entry.HourWorked</td>
                        <td>@Html.ActionLink("Delete", "DeleteTime", "TimeEntry", @entry, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
