﻿@model DvdLibrary.MODELS.Director

@{
    ViewBag.Title = "Add Director";
}

<h1>Add Director</h1>
<div class="space"></div>
@using (Html.BeginForm())
{
    <table style="margin: 0px auto;">
        <tr>
            <td>FirstName:</td>
            <td>@Html.TextBoxFor(m => m.FirstName, null, new {@class = "form-control", @id = "Title"})</td>
            <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td>@Html.TextBoxFor(m => m.LastName, null, new {@class = "form-control", @id = "Title"})</td>
            <td>@Html.ValidationMessageFor(m => m.LastName)</td>
        </tr>

    </table>
    <div class="space" style="text-align: center">
        <button class="btn btn-success" style="width: 100px">Add</button>
    </div>
}