﻿@using System.Collections.Generic
@using DvdLibrary.MODELS
@model DvdLibrary.MODELS.Dvd

@{
    ViewBag.Title = "Add Dvd";

}

<h1>Add A Dvd</h1>
<div class="space"></div>
@using (Html.BeginForm())
{

    <table style="margin: 0px auto;">
        <tr>
            <td>Title:</td>
            <td>@Html.TextBoxFor(m => m.Title, null, new {@class = "form-control", @id = "Title"})</td>
            <td>@Html.ValidationMessageFor(m => m.Title)</td>
        </tr>
        <tr>
            <td>Release Date: </td>
            <td>@Html.EditorFor(m => m.ReleaseDate)</td>
            <td>@Html.ValidationMessageFor(m => m.ReleaseDate)</td>
        </tr>
        <tr>
            <td>MPAA Rating: </td>
            <td>
                <select id="MPAARating" name="MPAARating">

                    <option value=""></option>
                    <option value=G>G</option>
                    <option value=PG>PG</option>
                    <option value=PG-13>PG-13</option>
                    <option value=R>R</option>
                </select>
            </td>
            <td>@Html.ValidationMessageFor(m => m.MPAARating)</td>
        </tr>
        <tr>
            <td>Lead Actor: </td>
            <td>
                <select id="ActorId" name="ActorId">
                    <option value="0"></option>
                    @foreach (var actor in (List<Actor>) ViewData["Actors"])
                    {
                        <option value=@actor.ActorId @(actor.ActorId == Model.ActorId ? " selected" : "")>@actor.FirstName, @actor.LastName</option>
                    }
                </select>

            </td>
            <td>@Html.ValidationMessageFor(m => m.ActorId)</td>
        </tr>
        <tr>
            <td></td>

            <td>@Html.ActionLink("Add Actor", "AddActor", "Home", null, new {@class = "btn btn-primary"})</td>
        </tr>
        <tr>
            <td>Director: </td>
            <td>
                <select id="DirectorId" name="DirectorId">

                    <option value="0"></option>
                    @foreach (var director in (List<Director>)ViewData["Directors"])
                    {
                        <option value=@director.DirectorId @(director.DirectorId == Model.DirectorId ? " selected" : "")>@director.FirstName, @director.LastName</option>
                    }

                </select>
            </td>
            <td>@Html.ValidationMessageFor(m => m.DirectorId)</td>
        </tr>
        <tr>
            <td></td>

            <td>@Html.ActionLink("Add Director", "AddDirector", "Home", null, new {@class = "btn btn-primary"})</td>
        </tr>
        <tr>
            <td>Studio: </td>
            <td>
                <select id="StudioId" name="StudioId">

                    <option value="0"></option>
                    @foreach (var studio in (List<Studio>)ViewData["Studios"])
                    {
                        <option value=@studio.StudioId @(studio.StudioId == Model.StudioId ? " selected" : "")>@studio.StudioName</option>
                    }

                </select>
            </td>
            <td>@Html.ValidationMessageFor(m => m.StudioId)</td>
        </tr>
        <tr>
            <td></td>

            <td>@Html.ActionLink("Add Studio", "AddStudio", "Home", null, new {@class = "btn btn-primary"})</td>
        </tr>
        <tr>
            <td></td>

            <td><button class="btn btn-success" style="width: 100px">Add</button></td>
        </tr>
    </table>
}