﻿@model DvdLibrary.MODELS.Studio

@{
    ViewBag.Title = "Add Studio";
}

<h1>Add Director</h1>
<div class="space"></div>
@using (Html.BeginForm())
{
    <table style="margin: 0px auto;">
        <tr>
            <td>Studio Name:</td>
            <td>@Html.TextBoxFor(m => m.StudioName, null, new {@class = "form-control", @id = "Title"})</td>
            <td>@Html.ValidationMessageFor(m => m.StudioName)</td>
        </tr>
    </table>
    <div class="space" style="text-align: center">
        <button class="btn btn-success" style="width: 100px">Add</button>
    </div>
}