﻿@model List<DvdLibrary.MODELS.Borrower>

@{
    ViewBag.Title = "Borrower Info";
}


<table>
    <thead>
    </thead>
    <tbody>
        @foreach (var borrower in Model)
        {
            <tr>
                <td>Borrower: @borrower.BorrowerName</td>
            </tr>
            <tr>
                <td></td>
                <td>Borrow Date: @borrower.DateBorrowed.ToShortDateString() - Return Date: @borrower.DateReturned.ToShortDateString()</td>
            </tr>
            <br/>
        }
    </tbody>
</table>