﻿@model System.Collections.Generic.List<DvdLibrary.MODELS.Dvd>

@{
    ViewBag.Title = "Dvd Collection";
}

<div style="float:left">
    <table>
        <thead>
        </thead>
        <tbody>
            @foreach (var dvd in Model)
            {
                <tr>
                    <td>@dvd.DvdId</td>
                    <td>@Html.ActionLink(@dvd.Title, "SingleDvdInfo", "Home", new { dvdId = @dvd.DvdId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="float: right;">
    <br/>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 200px; height:300px; margin: 0 auto">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Images/ironman.png" alt="...">
            </div>
            <div class="item">
                <img src="/Images/halloween.png" alt="...">
            </div>
            <div class="item">
                <img src="/Images/waynesworld.png" alt="...">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>