﻿@model System.Collections.Generic.List<DvdLibrary.MODELS.Dvd>

@{
    ViewBag.Title = "Search Results";
}


<table>
    <thead>
    </thead>
    <tbody>
        @foreach (var dvd in Model)
        {
            <tr>
                <td>@dvd.DvdId</td>
                <td>@Html.ActionLink(@dvd.Title, "SingleDvdInfo", "Home", new { dvdId = @dvd.DvdId }, null)</td>
            </tr>
        }
    </tbody>
</table>