﻿@model DvdLibrary.MODELS.Dvd
@{
    ViewBag.Title = "Dvd Information";
}
<style>
div
{
    text-align: center;
}

div table
{
    margin: 0 auto;
    text-align: left;
}
</style>

<h2>@Model.Title</h2>
<div>
    <table>
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>Lead Actor: </td>
            <td>@Model.Actor.FirstName, @Model.Actor.LastName </td>
        </tr>
        <tr>
            <td>Director: </td>
            <td>@Model.Director.FirstName, @Model.Director.LastName </td>
        </tr>
        <tr>
            <td>Release Date: </td>
            <td>@Model.ReleaseDate.ToShortDateString() </td>
        </tr>
        <tr>
            <td>MPAA Rating: </td>
            <td>@Model.MPAARating </td>
        </tr>
        <tr>
            <td>Produced By: </td>
            <td>@Model.Studio.StudioName </td>
        </tr>
        <tr>
            <td>Borrower Reviews: </td>
            <td>
                <table>
                    @foreach (var reviews in Model.Reviews)
                    {
                        <tr>
                            <td>@reviews.Rating</td>

                            <td>@reviews.Notes</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Borrow History", "BorrowerInfo", "Home", new { dvdId = @Model.DvdId }, null)</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    @using (Html.BeginForm("RemoveDvd", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.DvdId)
        <button class="btn btn-default" style="width: 100px">Remove</button>
    }
</div>