﻿
@{
    ViewBag.Title = "User Management Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <h2>User Menu</h2>
</div>

<br />


<form>
    <select id="users">
        <option></option>
    </select>
    <div id="userinfo">

    </div>
    <br><br>
</form>

<p>
    @Html.ActionLink("Register a new user", "Register", "Account")
</p>

<div class="col-lg-6 col-lg-offset-3" style="padding-bottom: 1em">
    @Html.ActionLink("Return to Admin Page", "Index", "Admin", null, new { @class = "btn btn-info btn-block" })
</div>

@section Scripts
{
    <script>
        var userUri = '/api/Users/';

        $(document).ready(function () {
            loadUsers();
        });

        $(function () {
            $("#users").change(function () {
                $.getJSON(userUri + "GET/")
                    .done(function (data) {
                        $('#test div').remove();
                        $.each(data, function (index, user) {
                            if ($("#users").val() === user.UserEmail) {
                                $("<div></br>User Name: <input value=" + user.UserName + " id=\"UserName\"><br>" +
                                    "<input type=\"hidden\" value=" + user.UserEmail + " id=\"UserEmail\"><br>" +
                                    "<input type=\"radio\" name=\"role\" value=\"1\" id=\"1\"> Super User<br>" +
                                "<input type=\"radio\" name=\"role\" value=\"2\" id=\"2\"> User<br>" +
                                "<input type=\"radio\" name=\"role\" value=\"3\" id=\"3\"> Disabled<br>" +
                                "<button type=\"button\" id=\"btnEditUser\" class=\"btn btn-success btn-block\">Edit User</button></div>").appendTo($('#userinfo'));
                                $('#' + user.RoleId).prop('checked', true);
                            }
                        });
                    });
            });
        });

        function loadUsers() {
            $.getJSON(userUri + "GET/")
                .done(function (data) {

                    $.each(data, function (index, user) {
                        $("<option value=" + user.UserEmail + ">" + user.UserEmail + "</option>").appendTo($('#users'));
                    });
                });
        };

        $(document).on("click", "#btnEditUser", function () {
            var user = {};

            user.UserName = $("#UserName").val();
            user.UserEmail = $("#UserEmail").val();
            user.RoleId = $("input[name=role]:checked").val();

            $.post(userUri + "POST/", user)
                .done(function () {
                    location.reload();
                })
                .fail(function (jqXhr, status, err) {
                    $("#errorMsg").appendTo("<div class=\"col-xs-offset-1 col-xs-10 alert alert-danger\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\">&times;</a>" + err + "</div>");
                    location.reload();
                });
        });
    </script>
}