﻿@model SGCorp.Models.Models.Applicant

@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<style>
    tr {
        padding: 5px;
    }

    h1 {
        font-family: 'Arapey', serif;
        text-align: center;
    }

    .space {
        padding-bottom: 30px;
    }
</style>
<h1>SG Application</h1>
<div class="space"></div>
<div>
    @using (Html.BeginForm("AddApplication", "Home", FormMethod.Post, new { id = "applicationForm" }))
    {
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", id = "name", data_validation="required", data_validation_error_msg="A name is required"})
                    <span id="messages"></span>
                </div>
                <div class="space"></div>

                <div class="form-group">
                    <label>Phone Number:</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, null, new { @class = "form-control", id = "phone",
                   data_validation = "custom, required, length", data_validation_error_msg = "A contact number is required",
                   data_validation_regexp = @"^\+?[0-9]+(\([0-9]+\))?[0-9-]*[0-9]$", data_validation_length="10-12" })
                </div>
                <div class="space"></div>

                <div class="form-group">
                    <label>Email Address:</label>
                    @Html.TextBoxFor(m => m.EmailAddress, null, new { @class = "form-control", id = "email", type = "email", required ="required",
                   data_validation = "email", data_validation_error_msg = "A valid email is required" })
                </div>
                <div class="space"></div>
                <div class="form-group">
                    <label>Reference:</label>
                    @Html.TextBoxFor(m => m.References, null, new { @class = "form-control", id = "ref", data_validation = "required", data_validation_error_msg = "Who will vouch for you?" })
                </div>
                <div class="space"></div>
                <div class="form-group">
                    <label>Additional Information:</label>
                    @Html.TextAreaFor(m => m.AdditionalInfo, 6, 21, new { @class = "form-control", id = "info", data_validation = "required", data_validation_error_msg = "Tell us a little about yourself" })
                </div>
                <div class="space"></div>
                <div class="space"></div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label>Work Experience:</label>
                    @Html.TextAreaFor(m => m.WorkExperience, 6, 21, new { @class = "form-control", id = "exp", data_validation = "required", data_validation_error_msg = "What are your past work experience?" })
                </div>
                <div class="space"></div>
                <div class="form-group">
                    <label>Education:</label>
                    @Html.TextAreaFor(m => m.Education, 6, 21, new { @class = "form-control", id = "ed", data_validation = "required", data_validation_error_msg = "You need some sort of education" })
                </div>
                <div class="space"></div>
                <div class="space"></div>
            </div>

        </div>
        <div class="space" style="text-align: center">
            <button type="submit" class="btn btn-success" style="width: 100px">Apply</button>
        </div>

    }
    @*</form>*@
</div>

@section scripts{
   
    <script>
        
        $.validate({
            modules: 'html5',
            borderColorOnError: '#FFF',
            addValidClassOnAll: true,
            scrollToTopOnError: true
        });

    </script>

}
