﻿
@{
    ViewBag.Title = "AddApplicationConfirm";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<h2>Confirmation</h2>
<div class="center-block" style ="text-align: center;">
    <p class="center-block">
        Application has been submitted!
    </p>
</div>

