﻿
@{
    ViewBag.Title = "Home";
}
<style>
    #content {
        text-align: center;
        font-family: Tahoma, Geneva, sans-serif;
        border: 2px solid #6f0000;
        max-width: 600px;
        text-align: center;
        padding: 10px 15px 15px 15px;
        border-radius: 10px;
    }

    h2 {
        font-family: 'Arial Black';
        color: #6f0000;
        letter-spacing: 20px;
    }

</style>
<p></p>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/Images/network2.jpg" alt="Network" width="1400" min-height="200">
            <div class="carousel-caption">
                <h3 style="color: #6f0000">Join our awesome team of developers today!</h3>
                @Html.ActionLink("Apply", "AddApplication", "Home", new { area = "" }, new {@class="btn btn-success"})
            </div>
        </div>
        <div class="item">
            <img src="/Images/globalbanner.jpg" alt="Explore" width="1400" min-height="200">
            <div class="carousel-caption">
                <h3>Explore our great opportunities</h3>
                <h2 style="color:gold">Unleash your potentials</h2>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="content" style="margin:auto">
    <h2>SOFTWARE CORP</h2>
    <p>Founded in 1986 by Mark Wyrzykowski, Minh Chuong and Jake Bosak .</p>
    <p>We strive here at SoftWare Corp to make our customers ideas come to life.</p>
    <p>Please take a moment to read a little bit about us before telling us about you!</p>
    <p>Started from the ground in 1986 Founders Mark and Minh started a company that they
        believed would revolutionize the Software industry. After trying to find the right fit
        to join the team. Many programers were interviewed including big names such as Steve Jobs and
        Bill Gates, although they werent what we were looking for. In 1987 as Minh and Mark were still
        seraching for the right fit for the team. Mark and Minh were mapping out a project one day in the
        office on the white board, leaving it over night, Mark came in the next morning to find what they were
        stuck on had been completed. Minh looked up the secutrity footage and notice that the office janitor fixed
        the problem. Minh and Mark later offered the janitor Jake the job and the company has went on to do extrodinary
        things in the last twenty years.</p>
    <p> Thank you for taking a moment to read about our history, We would like to now get to know you a bit.
        Please click apply above and fill out the application provided. We hope to welcome new members to our team very
        soon and hopefuly YOU will be the right fit for us</p>
    <p style="text-align: right">Thank You</p>
    <p style="text-align: right">Mark Wyrzykowski</p>
    <p style="text-align: right">Minh Chuong</p>
    <p style="text-align: right">Jake Bosak</p>
    <p style="text-align: right">SoftWare Corp</p>
</div>
<div style="padding-bottom: 40px;"></div>

