﻿@model List<SGCorp.Models.Models.Applicant>

@{
    ViewBag.Title = "Applicants";
}
<style>
    h2 {
        text-align: center;
        font-family: Tahoma, Geneva, sans-serif;
        color: #8b0000;
    }
    
</style>

<h2>Applicants</h2>
<div style="min-height: 750px">
    <ul class="list-group">
        <li class="list-group-item">ID : Applicants Name</li>
        @foreach (var applicant in Model)
        {
            <li class="list-group-item">@applicant.IdNumber : @Html.ActionLink(@applicant.Name, "ViewSingleApplicant", "Home", new {id = @applicant.IdNumber}, null)</li>
        }
    </ul>
</div>


