﻿@model SGCorp.Models.Models.Applicant
@{
    ViewBag.Title = "Individual Applicant";
}
<style>
    h2 {
        text-align: center;
        color: maroon;
        font-family: serif;
    }
    tr td:first-child {
        text-align: right;
        font-family: serif;
        font-size: 20px;
        color: maroon;
    }
    td {
        padding: 0 20px 30px
    }
</style>

<h2>Current Applicant</h2>

<div style="min-height: 750px; padding-top: 50px ">
    <table style="margin-left: 5%;">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>Name: </td>
                <td>@Model.Name </td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td>@Model.PhoneNumber </td>
            </tr>
            <tr>
                <td>Email Address: </td>
                <td>@Model.EmailAddress </td>
            </tr>
            <tr>
                <td>Work Experience: </td>
                <td>@Model.WorkExperience </td>
            </tr>
            <tr>
                <td>Education: </td>
                <td>@Model.Education </td>
            </tr>
            <tr>
                <td>Reference: </td>
                <td>@Model.References </td>
            </tr>
            <tr>
                <td>Additional Info: </td>
                <td>@Model.AdditionalInfo </td>
            </tr>
        </tbody>
    </table>
</div>



