﻿

<div class="jumbotron">
    @*<img alt="SGI Logo" src="/Content/images/SGIDealershipLogo.png" class="img-responsive" />*@
    <h1>MAXCARS</h1>
    <p class="lead">Great cars at great prices.</p>
</div>
<div class="row" id="allVehicles">

</div>

@section scripts {
    <script>
        $(document).ready(function() {
            loadVehicles();
        });

        function loadVehicles() {
            $.getJSON(vehicleUri)
                .done(function(data) {
                    $("#allVehicles div").remove();

                    $.each(data, function(index, vehicle) {
                        $(createVehicleDiv(vehicle)).appendTo($("#allVehicles"));
                        if (index !== 0 && index % 2 === 1) {
                            $(createClearFixDiv()).appendTo($("#allVehicles"));
                        }
                    });
                })
                .fail(function(jqXhr, status, err) {
                    $("<div class=\"col-xs-offset-1 col-xs-10 alert alert-danger\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\">&times;</a>" + err + "</div>").appendTo("#errorMsg");
                });
        };

        function createVehicleDiv(vehicle) {
            return '<div class=\"col-xs-12 col-sm-6 col-md-6\" id=\"vehPanel\"><div class=\"col-xs-12 col-sm-6 col-md-6\"><img class=\"img-responsive\" src=\"/Content/images/' + vehicle.Id + '-thumbnail.jpg\"/></div>' +
                '<div class=\"col-xs-12 col-sm-6 col-md-6\"><h4>' + vehicle.Year + ' ' + vehicle.Make + '</h4></div><div class=\"col-xs-12 col-sm-6 col-md-6\"><h5>' +
                vehicle.Model + '</h5></div><div class=\"col-xs-12 col-sm-6 col-md-6\"><h5><a href=\"/Home/VehicleInfo/' + vehicle.Id + '\">View Info</a></h5></div></div></div>';

        };

        function createClearFixDiv() {
            return '<div class=\"clearfix visible-xs visible-sm visible-md visible-lg\"></div>';
        }
    </script>
}
