﻿@using SGI.Dealership.Models
@model SGI.Dealership.Models.Vehicle

@{
    ViewBag.Title = "VehicleInfo";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_InfoRequestModal", new InformationRequest {VehicleId = @Model.Id}  )
    </div>
</div>

<h2>Vehicle Info</h2>

<div class="row">
    <input type="hidden" id="Id" value=@Model.Id/>
    
    <hr/>
    <div class="col-xs-12 col-sm-6" id="detailsPicture">
        <p id="ImagePage"></p>
        <button type="button" id="btnShowInfoRequest" class="btn btn-default">Request Additional Information</button>
    </div>
    <div class="col-xs-12 col-sm-6">
        <dl class="dl-horizontal">
            <dd>
                <p id="AdTitlePage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Make)
            </dt>
            <dd>
                <p id="MakePage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd>
                <p id="ModelPage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd>
                <p id="YearPage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Condition)
            </dt>
            <dd>
                <p id="ConditionPage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mileage)
            </dt>
            <dd>
                <p id="MileagePage"/>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                <p id="PricePage"/>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                <p id="DescriptionPage"/>
            </dd>
        </dl>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function() {
            findVehicle();
        });

        function findVehicle() {
            var id = $('#Id').val();

            $.getJSON(vehicleUri + id)
                .done(function(data) {
                    $('#MakePage').text(data.Make);
                    $('#ModelPage').text(data.Model);
                    $('#YearPage').text(data.Year);
                    $('#ConditionPage').text(data.Condition);
                    $('#MileagePage').text(data.Mileage);
                    $('#PricePage').text("$" + data.Price);
                    $('#AdTitlePage').text(data.AdTitle);
                    $('#DescriptionPage').text(data.Description);
                    $('<img class=\"img-responsive\" src=\"/Content/images/' + data.Id + '.jpg\"/>').appendTo('#ImagePage');
                })
                .fail(function(jqXhr, status, err) {
                    $("<div class=\"col-xs-offset-1 col-xs-10 alert alert-danger\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\">&times;</a>" + err + "</div>").appendTo("#errorMsg");
                });
        }
    </script>
    
    <script src="~/Scripts/app/submitInfoRequest.js"></script>
}