﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Images/favicon.ico">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SG Corp.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="~/Home/Index"><img src="/Images/swg_logo-white.png" alt="SG" height="50" width="50"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li></li>
                    <li>@Html.ActionLink("View Applicants", "ViewApplicants", "Home", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Policies<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Policies", "ViewPolicies", "Policy", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("Manage Policies", "ManagePolicies", "Policy", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("Manage Categoies", "ManageCategories", "Policy", new {area = ""}, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span> Time Tracking<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Submit Time", "SubmitTime", "TimeEntry", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("View Timesheet", "ViewTimeSheet", "TimeEntry", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()

    </div>
    <div>
        <footer>
            <p>&copy; @DateTime.Now.Year - SG Corp.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>