@model SGI.Dealership.Models.Vehicle


<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Make, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Model, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Condition, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Condition, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AdTitle, "Ad Title", htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.AdTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AdTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSaveVehicle">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/ColorValidation.js"></script>
    <script src="~/Scripts/app/AddVehicleVarification.js"></script>

}