﻿@model SGI.Dealership.Models.InformationRequest

<div class="modal fade" id="infoRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="infoRequestModalLabel">Request Additional Information</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.VehicleId)
                    @Html.HiddenFor(model => model.DateSubmitted)
                    @Html.HiddenFor(model => model.LastContactDate)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerName, "Name", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" } )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerPhone, "Phone", htmlAttributes: new {@class = "control-label col-md-5"})
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.CustomerPhone, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerPreferredContactMethod, "Preferred Contact Method", htmlAttributes: new {@class = "control-label col-md-5"})
                        <div class="col-md-7">
                            @Html.RadioButtonFor(model => model.CustomerPreferredContactMethod, "Phone", new {id = "preferPhone"})
                            @Html.Label("preferPhone", "Phone")
                            @Html.RadioButtonFor(model => model.CustomerPreferredContactMethod, "Email", new {id = "preferEmail"})
                            @Html.Label("preferEmail", "Email")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerBestTimeToContact, "Best Time To Contact", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.RadioButtonFor(model => model.CustomerBestTimeToContact, "Morning", new { id="morning" })
                            @Html.Label("morning", "Morning")
                            @Html.RadioButtonFor(model => model.CustomerBestTimeToContact, "Afternoon", new { id = "afternoon" })
                            @Html.Label("afternoon", "Afternoon")
                            @Html.RadioButtonFor(model => model.CustomerBestTimeToContact, "Evening", new { id = "evening" })
                            @Html.Label("evening", "Evening")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerTimeFrameToBuy, "Time Frame To Buy", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.RadioButtonFor(model => model.CustomerTimeFrameToBuy, "Within 3 Months", new { id = "lessThan3" })
                            @Html.Label("lessThan3", "Within 3 Months")
                            @Html.RadioButtonFor(model => model.CustomerTimeFrameToBuy, "Outside 3 Months", new { id = "moreThan3" })
                            @Html.Label("moreThan3", "Outside 3 Months")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerAdditionalInformation, "Additional Information", htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.TextAreaFor(model => model.CustomerAdditionalInformation, new { @class = "form-control", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSubmitInfoRequest">Submit</button>
            </div>
        </div>
    </div>
</div>
