﻿@using System
@using SGI.Dealership.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGI Dealership - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_AddVehicleModal", new Vehicle())
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_ManageRequestsModal", new InformationRequest
        {
            Id = 0, RequestStatusId = 0, DateSubmitted = DateTime.Now, LastContactDate = DateTime.Now
        })
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SGI Dealership", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li><a id="btnShowAddVehicle">Add Vehicle</a></li>
                <li><a id="btnLoadInfoRequests">Information Requests</a></li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row" id="errorMsg"></div>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/app/uriVariables.js"></script>
<script>
    function fillError(error) {
        $("<div class=\"col-xs-12 alert alert-danger\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\">&times;</a>" + error + "</div>").appendTo("#errorMsg");
    }
</script>
@RenderSection("scripts", required: false)

@*todo only load this for admin*@
    <script src="~/Scripts/app/addVehicle.js"></script>
    <script src="~/Scripts/app/manageInfoRequest.js"></script>
    
</body>
</html>