﻿@model SGI.Dealership.Models.InformationRequest

<div class="modal fade" id="manageRequestsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Manage Information Requests</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(req => req.Id, "REQ#", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(req => req.Id, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(req => req.DateSubmitted, "Received:", new { @class = "control-label col-sm-4" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(req => req.DateSubmitted, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.RequestStatusId, "Status:", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(req => req.RequestStatusId, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(req => req.LastContactDate, "Last Contacted:", new { @class = "control-label col-sm-4" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(req => req.LastContactDate, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.VehicleId, "Interested In:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.VehicleId, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerName, "Customer Name:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerPhone, "Customer Phone:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerPhone, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerEmail, "Customer Email:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerEmail, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerPreferredContactMethod, "Preferred Contact Method:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerPreferredContactMethod, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerBestTimeToContact, "Best Time To Contact:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerBestTimeToContact, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerTimeFrameToBuy, "Time Frame To Buy:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(req => req.CustomerTimeFrameToBuy, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(req => req.CustomerAdditionalInformation, "Additional Information:", new { @class = "control-label col-sm-5" })
                        <div class="col-sm-7">
                            @Html.TextAreaFor(req => req.CustomerAdditionalInformation, new { @class = "form-control", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnUpdateInfoRequest">Update</button>
            </div>
        </div>
    </div>
</div>