﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href='https://fonts.googleapis.com/css?family=Oswald:700|Passion+One:700,400|Cinzel:900' rel='stylesheet' type='text/css'/>

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Content/tagit.ui-zendesk.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

</head>
<body class="main">
    @Html.Partial("_BannerPartial")
    
    
    <div class="navbar navbar-inverse main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RockIT!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu">
                    @*<li>@Html.ActionLink("Home", "Index", "Admin", null, new {@class = "pull-right"})</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>If you can read this my api call didn't work</li>*@
                </ul>
        
</div>
        </div>
    </div>
    <div class="container-fluid body-content background main">

        <div class="blog-posts-back col-md-9">
            @RenderBody()
        </div>
        <div class="sidebar col-md-3">
            @Html.Partial("_TagCloudPartial")
        </div>
        <div class="clearfix"></div>

        <footer class="footer navbar-fixed-bottom">
            <p style="text-align: right; color: white; padding-right: 5%">
                @Html.Partial("_LoginPartial")
                
            </p>
        </footer>
    </div>
    <div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/tag")*@
    <script src="~/Scripts/tag-it.js"></script>
    <script src="~/Scripts/app/AddTag.js"></script>

    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>


    @RenderSection("scripts", false)
    <script src="~/Scripts/app/scrollPage.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
    @*tinymce.init({ selector: 'textarea' });*@
        tinyMCE.init({
            mode: "exact",
            elements: "ta1,ta2,ta3, postModal, post, pageText"
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tag").tagit({
                placeholderText: "Tags",
                allowSpaces: true

            });
            $("#category").tagit({
                placeholderText: "Categories",
                allowSpaces: true
            });
        })
    </script>
    <script>
        var uri = '/api/StaticPages/';

        $(document).ready(function () {
            GetPageHeaders();
        });

        function GetPageHeaders() {
            $.getJSON(uri + 'GetPageHeaders').done(function (data) {
                $('#menu').empty();
                $(recreateStaticLinks()).appendTo($('#menu'));
                $.each(data, function (index, menu) {
                    $(createLi(menu)).appendTo($('#menu'));
                });
            });
        };

        function recreateStaticLinks() {
            return '<li><a href="/">Home</a></li><li><a href="/Message/SendMessage">Contact</a></li>';
        }

        function createLi(menuItem) {
            return '<li><a href="/Home/Page/' + menuItem.StaticPageId + '">' + menuItem.StaticPageTitle + '</a></li>';
        };
    </script>
    }

</body>
</html>
