﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "loginText" }))
    {
    @Html.AntiForgeryToken()

    <div class="loginText">
        
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="loginText" })
        
        <span>   </span>
        <a class="loginText" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        <span>   </span>
        @if(Request.IsAuthenticated && (User.IsInRole("SuperUser")))
        {
            @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "loginText" })
        }
        else if (Request.IsAuthenticated && (User.IsInRole("User")))
        {
            @Html.ActionLink("Admin", "PostManagement", "Admin", null, new { @class = "loginText" })
        }
        
    </div>
    }
}
else
{
    <div class="loginText">
        @if (Request.IsAuthenticated && (User.IsInRole("SuperUser")))
        {
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "loginText" })
        }
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class="loginText"})
        
    </div>
}
