﻿@*@if (Request.IsAuthenticated && (User.IsInRole("User") || (User.IsInRole("SuperUser"))))
{*@
    
        <div class="row">
            <div class="col-md-6">
                <input type="text" placeholder="Heading" class="form-control" id="heading" />
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="Categories" class="form-control" id="category" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <textarea id="post"></textarea>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <input type="text" placeholder="Tags" class="form-control" id="tag" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2">
                    @if (Request.IsAuthenticated && (User.IsInRole("SuperUser")))
                {
                        <button id="submitPost" class="btn btn-primary">Publish</button>
                    }
                    else if (Request.IsAuthenticated && (User.IsInRole("User")))
                    {
                        <button id="submitReview" class="btn btn-primary">Submit for Review</button>
                    }
                </div>
                <div class="col-md-2">
                    <button id="draftPost" class="btn btn-warning">Save Draft</button>
                </div>
            </div>
        </div>
   
@*}*@