﻿@model SGCorp.Models.Models.Policy
@{
    ViewBag.Title = "AddPolicy";
}

<h2>Add New Policy</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Category Name: </td>
            <td>@Html.TextBoxFor(m => m.CategoryName, new {@class="form-control", data_validation="required", data_validation_error_msg="Enter a category"})</td>
        </tr>
        <tr>
            <td>Policy Name: </td>
            <td>@Html.TextBoxFor(m => m.PolicyName, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Enter a policy name" })</td>
        </tr>
        <tr>
            <td>Policy Description: </td>
            <td>@Html.TextAreaFor(m => m.Description, 10, 80, new { @class = "form-control", data_validation = "required", data_validation_error_msg = "Enter a description" })</td>
        </tr>
    </table>
    <button class="btn btn-success center-block">Save</button>
    <div style="padding-top: 20px"></div>
}


@section scripts{

    <script>

        $.validate({
            modules: 'html5',
            borderColorOnError: '#FFF',
            addValidClassOnAll: true,
            scrollToTopOnError: true
        });

    </script>

}


