﻿@model SGCorp.Models.Models.Policy
@{
    ViewBag.Title = "EditPolicy";
}
<style>
    #content {
        border: 2px solid maroon;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
            
    }
</style>
@using (Html.BeginForm("SaveEditPolicy","Policy",FormMethod.Post))
{

    <h2>Edit Policy</h2>
    <div id="content" class="center-block">
        @Html.HiddenFor(m => m.CategoryName)
        @Html.HiddenFor(m => m.PolicyName)
        @Html.TextAreaFor(m => m.Description, 10, 80, new {@class="form-control center-block"})
        <div style="padding-top: 20px"></div>
        <button class="btn btn-success center-block">Save</button>
    </div>
    <div style="padding-top: 20px"></div>
}
