﻿@model List<SGCorp.Models.Models.Category>
@{
    ViewBag.Title = "Manage Policies";
}
<style>
    h2 {
        text-align: center;
        color: maroon;
        font-family: serif;
    }

    #content {
        border-radius: 10px;
        border: 2px solid maroon;
        max-width: 500px;
        min-height: 400px;
        text-align: center;
    }

    .dropdown{
        margin: auto;
        display: block;
        text-align: center;
    }
 
</style>
<h2>Manage Policies</h2>
<div class="center-block" id="content">
    <div style="padding-bottom: 50px"></div>

    <div class="dropdown" style="text-align: center">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Category
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
            @foreach (var category in Model)
            {
                <li>@Html.ActionLink(@category.CategoryName, "ViewPolicyTable", "Policy", new { id = @category.CategoryId }, null)</li>
            }
        </ul>

    </div>
    <div style="padding-bottom: 150px"></div>
    <div style="text-align: center">
        @Html.ActionLink("Add Policy", "AddPolicy", "Policy", null, new { @class = "btn btn-success" })
    </div>
</div>


<div style="padding-bottom: 50px"></div>

