﻿@model List<SGCorp.Models.Models.Category>
@{
    ViewBag.Title = "ManageCategories";
}
<style>
    h2 {
        font-family: serif;
        color: maroon;
        text-align: center;
    }
    tr td:first-child {
        font-family: serif;
        color: maroon;
        font-size: 20px
    }
    .list-group {
        max-width: 500px;

    }
    .list-group-item {
        min-height: 50px;
    }
    .content {
        display: block;
        min-height: 700px;
    }
</style>
<h2>Manage Categories</h2>
<div class="content">
    <ul class="list-group">
        @foreach (var category in Model)
        {

            <li class="list-group-item"> @category.CategoryName @Html.ActionLink("Delete", "DeleteCategory", "Policy", @category, new { @class = "btn btn-danger pull-right" }) </li>

        }
    </ul>
</div>
    

