﻿@model List<string>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.ActionLink(@category, "ViewPolicies", "Policy", new { @category }, null)</td>
        </tr>
    }
</tbody>