﻿@model SGCorp.Models.Models.Category
@{
    ViewBag.Title = "ViewPolicyTable";
}

<h2>ViewPolicyTable</h2>
<table>
    
    @foreach (var policy in Model.Policies)
    {
        <tr>
            <td>@policy.PolicyName</td>
            <td>@Html.ActionLink("Edit", "EditPolicy", "Policy", @policy, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Delete", "DeletePolicy", "Policy", @policy, new { @class = "btn btn-primary" })</td>
        </tr>
    }
</table>