﻿@model List<SGCorp.Models.Models.Category>
@{
    ViewBag.Title = "ViewPolicies";
}

<style>
    h2 {
        text-align: center;
    }

    th, td {
        padding-left: 50px;
    }

    .whitearea {
        min-height: 450px;
    }

    a {
        color: white;
        text-decoration: none;
    }
     a:visited {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: orange;
        text-decoration: none;
    }
    a:active  {
        color: white;
        text-decoration: none;
    }
    .policyName {
        font-family: serif;
        color: maroon;
        font-size: 20px;
        text-decoration: underline;
    }
</style>

<h2>SG Corp Policies</h2>

<div class="whitearea">

    @foreach (var category in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading"style="max-height: 40px">
                <a data-toggle="collapse" href="@("#collapse" + category.CategoryId)"><h5>@category.CategoryName</h5></a>
            </div>
            <div id="@("collapse" + category.CategoryId)" class="panel-collapse collapse">
                @foreach (var policy in category.Policies)
                {
                    <div class="panel-body">
                        <div class="policyName">@policy.PolicyName</div>
                        @policy.Description
                    </div>
                }
            </div>
            </div>
    }
</div>

